<!--
    PAGINA DE DETALLES DEL ANIMAL
-->

<div class="container-datails">
  <br>
  <img src={{animal.image}} class="image-detail"> </img>
  <div class="content-detail">
    <br>
    <span class="attribute-detail">
      Name:{{animal.animalname}}
    </span>
    <br>
    <span class="attribute-detail">
      Breed: {{animal.breedname}}
    </span>
    <br>
    <span class="attribute-detail">
      Specie {{animal.speciesname}}
    </span>
    <br>
    <span class="attribute-detail">
      Age: {{animal.animalage}}
    </span>
    <br>
    <span class="attribute-detail">
      Color: {{animal.basecolour}}
    </span>
    <br>
    <span class="attribute-detail">
      Owner: {{animal.owner}}
    </span>
    <div class="divbutton-detail">
      <a href="/adopt/{{animal.id}}">
        <button class="adopt-button">
          Adopt me!
        </button>
      </a>
    </div>
  </div>
</div>